<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>JONG</title>
        <link rel="stylesheet" href="/styles.css" media="screen" title="no title">
    </head>
    <body ng-controller="gameController">
        <h3>JONG</h3>
        <h4>Your ID: {{myId}}</h4>
        <h5 ng-show="time">Time: {{time}}</h5>
        <h3 ng-head="started">Ready Players: {{readyPlayers}}</h3>
        <div ng-hide="started">
            <button ng-hide="player.ready" ng-click="ready()">Ready</button>
            <button ng-hide="!player.ready" ng-click="unready()">Un-Ready</button>
            <button ng-show="readyPlayers == 4" ng-click="startGame()">Start Game</button>
        </div>
        <div class="hand" ng-repeat="tile in player.hand">
            <div class="tile" ng-click="discard(tile)">{{tile.suit}}{{tile.value}}</div>
        </div>
        <script type ="text/javascript" src="socket.io/socket.io.js"></script>
        <script type="text/javascript" src="angular/angular.js"></script>
        <script type="text/javascript" src="angular-socket-io/socket.js"></script>
        <script src="angular-cookies/angular-cookies.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>
