<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>JONG</title>
        <link rel="stylesheet" href="/styles.css" media="screen" title="no title">
    </head>
    <body ng-controller="gameController">
        <div ng-show="winner" id='winnerBox'>
            <h1 id="winnerText">The winner is: {{winner}}</h1>
        </div>
        <div id="headContainer">
            <h1 id="title" class="gameText">JONG</h1>
            <p class="gameText">Your ID: {{myId}}</p>
            <p class="gameText" ng-hide="started">Ready Players: {{readyPlayers}}</p>
            <div id="readyBox" ng-hide="started">
                <button class="startButton" ng-hide="player.ready" ng-click="ready()">READY</button>
                <button class="startButton" ng-hide="!player.ready" ng-click="unready()">UNREADY</button>
                <button class="startButton" ng-show="readyPlayers == 4" ng-click="startGame()">START GAME</button>
            </div>
            <p id="yourTurnText" ng-show="player.isTurn">YOUR TURN</p>
        </div>
        <div id="playArea">
            <div id="othersArea">
                <div id ="leftPlayerHand">
                    <div ng-repeat="runs in leftPlayerPlayed">
                        <div ng-repeat="tile in runs">
                            <img class="discardTile" ng-src="./imgs/{{tile.value}}{{tile.suit}}.png"/>
                        </div>
                    </div>
                    <div ng-repeat="tile in leftPlayerHand">
                        <div class="sideHandTile"></div>
                    </div>
                </div>
                <div id="middleContainer">
                    <div id="middleOtherContainer">
                        <div id="sideBufferBoxLeft">
                        </div>
                        <div id="otherContainer">
                            <div id ="topPlayerHand">
                                <div ng-repeat="tile in topPlayerHand">
                                    <div class="topHandTile"></div>
                                </div>
                                <div ng-repeat="runs in topPlayerPlayed">
                                    <div ng-repeat="tile in runs">
                                        <img class="discardTile" ng-src="./imgs/{{tile.value}}{{tile.suit}}.png"/>
                                    </div>
                                </div>
                            </div>
                            <div id="discardsAndFlowers">
                                <div id="leftDiscards">
                                    <div class="discards" ng-repeat="tile in leftPlayerDiscards">
                                        <img class="discardTile" ng-src="./imgs/{{tile.value}}{{tile.suit}}.png"/>
                                    </div>
                                </div>
                                <div id="topFlowersDiscardsWall">
                                    <div id="topFlowers">

                                    </div>
                                    <div id="topDiscards">
                                        <div class="discards" ng-repeat="tile in topPlayerDiscards">
                                            <img class="discardTile" ng-src="./imgs/{{tile.value}}{{tile.suit}}.png"/>
                                        </div>
                                    </div>
                                    <div id="wall"></div>
                                    <div id="playerDiscards">
                                        <div class="discards" ng-repeat="tile in player.discards">
                                            <img class="discardTile" ng-src="./imgs/{{tile.value}}{{tile.suit}}.png"/>
                                        </div>
                                    </div>
                                </div>
                                <div id="rightDiscards">
                                    <div class="discards" ng-repeat="tile in rightPlayerDiscards">
                                        <img class="discardTile" ng-src="./imgs/{{tile.value}}{{tile.suit}}.png"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="sideBufferBoxRight">
                        </div>

                    </div>
                    <div id="buttonBarContainer">
                        <div id="playerFlowerBox">

                        </div>
                        <div id="timerBox">
                            <p id="countdownTimer" ng-show"time">{{time}}</p>
                        </div>
                        <div id="actionButtonBox">
                            <div id="eatTiles" ng-show="eatPressed" ng-repeat="runs in eats" ng-click="eat(runs)">
                                <div ng-repeat="tile in runs">
                                    <img class="discardTile" ng-src="./imgs/{{tile.value}}{{tile.suit}}.png"/>
                                </div>
                            </div>

                            <div ng-click="eatPress()" ng-show="actions.eat" class="actionButton" id="eatButton">Eat</div>
                            <div ng-click="pung()" ng-show="actions.pung" class="actionButton">Pung</div>
                            <div id="kongBox">
                                <div ng-click="kong('concealed')" ng-show="actions.kong.concealed" class="kongButton">Kong</div>
                                <div ng-click="kong('meld')" ng-show="actions.kong.meld" class="kongButton">Kong</div>
                                <div ng-click="kong('discard')" ng-show="actions.kong.discard" class="kongButton">Kong</div>
                            </div>
                            <div ng-click="win()" ng-show="actions.win" class="actionButton">Win</div>
                            <div ng-click="cancel()" ng-show="hasAction" class="actionButton" id="cancelButton">Cancel</div>
                        </div>
                    </div>
                </div>

                <div id ="rightPlayerHand">
                    <div ng-repeat="tile in rightPlayerHand">
                        <div class="sideHandTile"></div>
                    </div>
                    <div ng-repeat="runs in rightPlayerPlayed">
                        <div ng-repeat="tile in runs">
                            <img class="discardTile" ng-src="./imgs/{{tile.value}}{{tile.suit}}.png"/>
                        </div>
                    </div>
                </div>
            </div>
            <div id="playerHandContainer">
                <div id="playedTiles" ng-repeat="runs in player.played">
                    <div ng-repeat="tile in runs">
                        <img class="handTile" ng-src="./imgs/{{tile.value}}{{tile.suit}}.png"/>
                    </div>
                </div>
                <div class="hand" ng-repeat="tile in player.hand">
                    <img ng-click="!hasAction && discard(tile)" class="handTile" ng-src="./imgs/{{tile.value}}{{tile.suit}}.png"/>
                </div>
            </div>
        </div>
        <script type ="text/javascript" src="socket.io/socket.io.js"></script>
        <script type="text/javascript" src="angular/angular.js"></script>
        <script type="text/javascript" src="angular-socket-io/socket.js"></script>
        <script src="angular-cookies/angular-cookies.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html>
