html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
* {
    text-align: center;
    padding: 0px;
    margin: 0px;
}
body {
    min-width: 1080px;
    background: #339966;
    line-height: 1;
}
div {
    display: inline-block;
    font-size: 0;
}
#title {
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 40px;
    font-weight: 900;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black
}
#playArea {
    width: 1200px;
    height: 650px;
    margin: auto;
}
#othersArea {
    height: 580px;
    background: green;
}
#playerHandContainer {
    width: 1200px;
    height: 70px;
    background: yellow;
}
#leftPlayerHand, #topPlayerHand, #rightPlayerHand {
    background: yellow;
    }
#middleContainer {
    width: 1090px;
    height: 580px;
}
#middleOtherContainer {
    width: 1090px;
    height: 525px;
    display: block;
}
#otherContainer {
    display: inline-block;
    width: 990px;
    height: 525px;
}
#topPlayerHand {
    width: 990px;
    height: 55px
}
#leftDiscards {
    float: left;
}
#rightDiscards {
    float: right;
}
#leftDiscards, #rightDiscards {
    background: #de9cfc;
    width: 150px;
    height: 470px;
}
#discardsAndFlowers {
    width: 990px;
    height: 470px;
}
#topFlowersDiscardsWall {
    background: green;
    width: 690px;
    height: 470px;
}
#topFlowers {
    width: 490px;
    height: 40px;
    background: pink;
}
#topDiscards, #playerDiscards {
    background: #de9cfc;
    width: 690px;
    height: 100px;
}
#buttonBarContainer {
    display: block;
    width: 1090px;
    height: 55px;
}
#wall {
    height: 230px;
    width: 690px;
}
#leftPlayerHand, #rightPlayerHand {
    width: 55px;
    height: 580px;
}
#leftPlayerHand {
    float: left;
}
#rightPlayerHand {
    float: right;
}
#readyBox {
    display: block;
}
#timerBox {
    background: #42d7f4;
    width: 55px;
    height: 55px;
    border-radius: 35px;
}
#countdownTimer {
    width: 55px;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-size: 40px;
    font-weight: 600;
    font-family: sans-serif;
}
#playerFlowerBox {
    background: pink;
    width: 370px;
    height: 55px;
}
#actionButtonBox {
    background: #c9ebf2;
    width: 620px;
    height: 55px;
}
#sideBufferBoxLeft, #sideBufferBoxRight {
    display: inline-block;
    background: green;
    width: 50px;
    height: 525px;
}
#sideBufferBoxLeft {
    float: left;
}
#sideBufferBoxRight {
    float: right;
}
#yourTurnText {
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
}
.handTile, .discardTile {
    border-radius: 5px;
    overflow: hidden;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.handTile {
    width: 52.5px;
    height: 70px;
}
.discardTile {
    width: 37.5px;
    height: 50px;
}
.hand, .discards {
    display: inline-block;
}
.hand:last-child {
    margin-left: 30px;
}
.gameText {
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black
}
.startButton {
    min-width: 50px;
    height: 20px;
    font-weight: 600;
    font-family: sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}
