html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
* {
    text-align: center;
    padding: 0px;
    margin: 0px;
}
body {
    min-width: 1080px;
    line-height: 1;
	background: #cef5d8;
}
div {
    display: inline-block;
    font-size: 0;
}
button {
	color: #a7874c;
	border-color: #a7874c;
	background: white;
	border-radius: 5px;
	font-size: 24px;
}
#headContainer {
	height: 100px;
	width: 100%;
	margin-bottom: 20px;
}
#headBox {
	min-width: 40%;
	min-height: 100px;
	background: #fbe5ac;
	padding: 5px 60px 5px 60px;
	border-top: 5px solid #a7874c;
	border-left: 5px solid #a7874c;
	border-bottom: 5px solid #604d2b;
	border-right: 5px solid #604d2b;
	border-radius: 10px;
}
#nameBox {
	display: inline-block;
	float: right;
}
#nameBox p {
	font-size: 24px;
}
#title {
	display: inline-block;
	float: left;
	margin-right: 10px;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 80px;
    font-weight: 900;
    -webkit-text-fill-color: #ffefeb; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #836a3c;

}
#logInBackground {
	width: 100%;
	height: 100vh;
	background: rgba(196, 172, 120, 0.8);
	left: 0;
	position: absolute;
}
#logInBox {
	font-size: 16px;
	background: #cef5d8;
	padding: 30px 5px 30px 5px;
	border-top: 5px solid #a7874c;
	border-left: 5px solid #a7874c;
	border-bottom: 5px solid #604d2b;
	border-right: 5px solid #604d2b;
	border-radius: 10px;
	position: absolute;
  width: 300px;
  min-height: 100px;
  z-index: 15;
  top: 30%;
  left: 50%;
  margin: -50px 0 0 -150px;
}
#logInBox h1 {
	font-size: 40px;
}
#loginForm {
	margin-top: 10px;
	margin-bottom: 10px;

}
#loginForm input {
	font-size: 20px;
	color: #a7874c;
}
#logInButton {
	padding: 2px 8px 2px 8px;
	font-weight: 600;
}
#winnerBox {
	width: 100%;
	height: 30%;
	left: 0;
	top: 25%;
	background: #8aed99;
	border-top: 5px solid #5bd06d;
	border-bottom: 5px solid #5bd06d;
	position: absolute;
}
#winnerText {
	margin-top: 30px;
	font-size: 80px;
	font-family: 'Oswald', sans-serif;
	-webkit-text-fill-color: #ffefeb; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #836a3c;
}
#winnerBox button {
	margin-top: 30px;
	padding: 5px 15px 5px 15px;
}
#playArea {
  width: 1202px;
  height: 652px;
  margin: auto;
	background: #fbe5ac;
	border-top: 8px solid #a7874c;
	border-left: 8px solid #a7874c;
	border-bottom: 8px solid #604d2b;
	border-right: 8px solid #604d2b;
	border-radius: 10px;
}
#othersArea {
    height: 580px;
}
#playerHandContainer {
    width: 1200px;
    height: 70px;
}
#leftPlayerHand, #topPlayerHand, #rightPlayerHand {

    }
#middleContainer {
    width: 1090px;
    height: 580px;
}
#middleOtherContainer {
    width: 1090px;
    height: 525px;
    display: block;
}
#otherContainer {
    display: inline-block;
    width: 990px;
    height: 525px;
}
#topPlayerHand {
    width: 990px;
    height: 55px
}
#topDiscards {
	text-align: right;
}
#leftDiscards {
    float: left;
		writing-mode: vertical-rl;
}
#rightDiscards {
    float: right;
		writing-mode: vertical-lr;
		text-align: right;
}
#leftDiscards, #rightDiscards {
    width: 150px;
    height: 470px;
}
#leftDiscards, #playerDiscards {
	text-align: left;
}
#discardsAndFlowers {
    width: 990px;
    height: 470px;
}
#topFlowersDiscardsWall {
    width: 690px;
    height: 470px;
}
#topFlowers {
    width: 490px;
    height: 40px;
}
#topDiscards, #playerDiscards {
    width: 690px;
    height: 100px;
}
#topDiscards .discards .discardTile , #topPlayerHand .discardTile{
	-webkit-transform: rotate(180deg);
}
.leftDiscards, .rightDiscards {
	font-size: 0;
	display: inline-block;
	width: 40px;
	height: 30px;
}
.leftDiscardTile, .rightDiscardTile {
	width: 40px;
	height: 30px;
}
.rightDiscardTile {
	-webkit-transform: rotate(180deg);
}
#buttonBarContainer {
    display: block;
    width: 1090px;
    height: 55px;
}
#wall {
    height: 230px;
    width: 690px;
}
#leftPlayerHand, #rightPlayerHand {
    width: 55px;
    height: 580px;
}
#leftPlayerHand {
    float: left;
}
#rightPlayerHand {
    float: right;
}
#readyBox {
    display: block;
}
.actionButton, .kongButton {
	vertical-align: bottom;
    width: 55px;
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    font-size: 12px;
    font-weight: 600;
    font-family: sans-serif;
    color: white;
    border-radius: 30px;
}
.kongButton {
	position: relative;
}
#cancelButton {
}
#kongBox {
	width: 55px;
	height: 55px;
}
#eatButton {
}
#timerBox {
    width: 55px;
    height: 55px;
    border-radius: 30px;
}
#countdownTimer {
    width: 55px;
    position: absolute;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    color: white;
    font-size: 40px;
    font-weight: 600;
    font-family: sans-serif;
}
#playerFlowerBox {
    width: 370px;
    height: 55px;
}
#actionButtonBox {
    width: 620px;
    height: 55px;
}
#sideBufferBoxLeft, #sideBufferBoxRight {
    display: inline-block;
    width: 50px;
    height: 525px;
}
#sideBufferBoxLeft {
    float: left;
}
#sideBufferBoxRight {
    float: right;
}
#yourTurnText {
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 40px;
	font-weight: 900;
	-webkit-text-fill-color: #ffefeb; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #836a3c;
}
#eatTiles {
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
#playedTiles {
	margin-right: 15px;
}
.handTile, .discardTile, .topHandTile, .sideHandTile, .leftDiscards, .rightDiscards{
	background: #c1a253;
    border-radius: 5px;
    overflow: hidden;
    border-top: 1px solid #ffefc9;
    border-left: 1px solid #ffefc9;
    border-right: 1px solid #7a6633;
    border-bottom: 1px solid #7a6633;
}
.handTile {
    width: 52.5px;
    height: 70px;
}
.discardTile {
    width: 30px;
    height: 40px;
}
.topHandTile {
	width: 30px;
	height: 40px;
}
.sideHandTile {
	width: 40px;
	height: 30px;
}
.hand, .discards {
    display: inline-block;
}
.hand:last-child {
    margin-left: 30px;
}
.gameText {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    -webkit-text-fill-color: #ffefeb; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #836a3c;
		padding-top: 2px;
		padding-bottom: 2px

}
.gameText a {
	-webkit-text-fill-color: #ffefeb; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #836a3c;
}
.startButton {
    min-width: 50px;
    min-height: 20px;
    font-weight: 600;
    font-family: sans-serif;
    padding-left: 10px;
    padding-right: 10px;
		margin-top: 5px;
}
